<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>БАРБЕРШОП - Стильні стрижки</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- Скрипт для завантаження фрагментів -->
    <script src="../src/include.js"></script>
</head>
<body>
<header data-include="header.html"></header>
<main>
    <section th:fragment="contact" class="contact-section" id="contact">
        <div class="container">
            <h2 class="section-title">Контакти</h2>
            <div class="contact-grid">
                <div class="contact-card">
                    <div class="contact-icon">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="contact-text">
                        <h4>Телефон</h4>
                        <p>+380 (99) 123-45-67</p>
                    </div>
                </div>
                <div class="contact-card">
                    <div class="contact-icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="contact-text">
                        <h4>Email</h4>
                        <p>info@barbershop.ua</p>
                    </div>
                </div>
                <div class="contact-card">
                    <div class="contact-icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="contact-text">
                        <h4>Адреса</h4>
                        <p>м. Львiв, вул. Академіка Гнатюка, буд. 12а</p>
                    </div>
                </div>
                <div class="contact-card">
                    <div class="contact-icon">
                        <i class="fas fa-clock"></i>
                    </div>
                    <div class="contact-text">
                        <h4>Час роботи</h4>
                        <p>Пн-Нд: 10:00 - 20:00</p>
                    </div>
                </div>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5146.00803862906!2d24.020185!3d49.842382!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add3cd7b48271%3A0x3afdf611101c619!2sBK%20BARBERSHOP!5e0!3m2!1suk!2sua!4v1745158142033!5m2!1suk!2sua" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>
</main>
<footer data-include="footer.html"></footer>
</body>
</html>