<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<body>
<section th:fragment="hero" class="hero" id="home">
    <div class="container">
        <div class="hero-content">
            <h1>Сучасний барбершоп для справжніх чоловіків</h1>
            <p>Ми пропонуємо найкращі стрижки та догляд за бородою від професійних майстрів. Наші послуги допоможуть вам
                виглядати та почуватися краще.</p>
            <a href="booking.html" class="btn">Записатися зараз</a>
        </div>
    </div>
</section>
</body>
</html>