<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>БАРБЕРШОП - Стильні стрижки</title>
    <link rel="stylesheet" href="../public/style.css">
    <!-- Скрипт для завантаження фрагментів -->
    <script src="../src/include.js"></script>
</head>
<body>
<!-- Шапка сайту -->
<header data-include="header.html"></header>

<!-- Банер -->
<section class="hero" id="home" data-include="hero.html"></section>

<!-- Підвал -->
<footer data-include="footer.html"></footer>

<!-- Скрипти -->
<script src="../src/booking.js"></script>
</body>
</html>